table{
    text-align: center;
}
th{
    text-align: left;
    font-size: 64px;
    color: wheat;
}
td{
    text-align: center;
    padding-left: 0px;
    padding-right: 50px;
    padding-top: 5px;
    font-size: 50px;
}
.Price{
    text-align: center;
    font-weight: bolder;
    color: red;
}
.Game{
    font-weight: bold;
    text-align: left;
    color: goldenrod;
}
button{
    width: 200px;
    height: 50px;
    border: 3px solid black;
    background-color: gray;
}
button:hover{
    background-color: purple;
}
input{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}